.min-h-screen{
    min-height: 100vh;
}

.bg-red{
    background-color: red;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.flex-col{
    flex-direction: column;
}

.font-bold{
    font-weight: bolder;
}

.my-1{
    margin: .5rem 0;
}

.my-2{
    margin-top: 26px;
    margin-bottom: 26px;
}

.px-2{
    padding-left: 13px;
    padding-right: 13px;
}

.text-blue{
    color: blueviolet;
    
}

.btn{
    padding:7px 12px;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    background-color: blueviolet;
    box-shadow: 0 0 0 rgb(153, 142, 224);
    transition: 0.5s ease-in-out;
}
.btn:hover{
    box-shadow: 5px 6px 0 rgb(153, 142, 224);
}
.overflow-x-hidden{
    overflow-x: hidden;
}

.text-center{
    text-align: center;
}
.card :hover{
    box-shadow: 0 0 5px cyan,0 0 25px cyan,
    0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}